 <div id="sideNavBar" style="background-color:bisque">
    <div>
        <ul>
            <li class="active dashboard leftMenu">
                <a href="/dashboard">
                    <i class="fa fa-home"></i> Dashboard
                </a>
            </li>
          

        </ul>
    </div>
</div> 





<!-- <div id="sideNavBar">
    <div style="background:#f26b22;color:#fff;padding:5px"><span style="font-size:1.4em;margin-left:10px" >Dashboard </span>  <i style="float:right;font-size:1.4em;margin-top:2px;" onclick="openModal(1)" class="fa fa-plus-square"></i> </div>
    <div>
        <ul id='addDashboard'>
            <li class="active dashboard leftMenu">
                <a href="/dashboard">
                    Admin Office <i class="fa fa-add-square"></i>
                </a>
            </li>
            

        </ul>
        
    </div>
</div> -->